/* BEGIN LOGIN */

#loginPage {
    background-color: #7b3588;
    color: white;
    max-height: 100%;
}

#loginPage hr {
    border-color: #ffffff;
    width: 20%;
}

#loginPage h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 3.7em;
}

#loginPage #content {
    margin-top: 100%;
}

/* END LOGIN */

/* BEGIN REGISTER */

#registerPage {
    background-color: #7b3588;
    color: white;
}

#registerPage hr {
    border-color: #ffffff;
    width: 20%;
}

#registerPage h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 3.7em;
}

/* END REGISTER */

/* BEGIN DASHBOARD */

.card-icon
{
    float: right;
}

.grade-matiere-dashboard
{
    margin-left: 2.5%;
}

.grade-type-dashboard
{
    font-size: 0.7em;
    margin-left: 0.8%;
}

.grade-value-dashboard
{
    font-size: 0.9em;
    font-weight: lighter;
    float: right; 
    margin-top: 6px;
}

.event-matiere-dashboard
{
    margin-left: 2.5%;
}

.event-type-dashboard
{
    font-size: 0.7em;
    margin-left: 0.8%;
}

.event-date-dashboard
{
    font-size: 0.8em;
    font-weight: lighter;
    float: right; 
}

.event-comment-dashboard
{
  margin-left: 4%;
  font-size: 80%;
}

.GaugeMeter {
    position: Relative;
    text-align: Center;
    overflow: Hidden;
    cursor: Default;
    display: inline-block;
  }
  
.GaugeMeter SPAN, .GaugeMeter B {
width: 54%;
position: Absolute;
text-align: Center;
display: Inline-Block;
color: RGBa(0,0,0,.8);
font-weight: 100;
font-family: "Open Sans", Arial;
overflow: Hidden;
white-space: NoWrap;
text-overflow: Ellipsis;
margin: 0 23%;
}

.GaugeMeter[data-style="Semi"] B {
width: 80%;
margin: 0 10%;
}

.GaugeMeter S, .GaugeMeter U {
text-decoration: None;
font-size: .60em;
font-weight: 200;
opacity: .6;
}

.GaugeMeter B {
color: #000;
font-weight: 200;
opacity: .8;
}

/* END DASHBOARD */

/* BEGIN ADMIN DASHBOARD */
.admin-add {
    transition: all .05s ease-in-out;
    color: #121212;
}

.admin-add:hover {
    color: #B0B0B0;
    cursor: pointer;
    transform: scale(1.05);
}

.admin-modify {
    transition: all .05s ease-in-out;
    color: #121212;
}

.admin-modify:hover {
    color: #B0B0B0;
    cursor: pointer;
    transform: scale(1.05);
}

/* END ADMIN DASHBOARD */